body{
    background-color: aqua;
}
img{
    max-width: 100%;
}
#myMap{
    margin-top: 20px;
}

#container{
    background-color: white;
    width: 900px;
    height: 600px;
    margin: 50px auto auto auto;
    display: grid;
    grid-template-columns: auto auto;
    border: inset 2px gray;
}

#myInteraction{
    padding: 10px;

}